/*-----Main Styles-----*/

body{
  font-family: Source Code Pro, Arial, sans-serif;
  width: 100%;
  margin: auto;
}

h1{
  color: white;
  font-size: 42px;
}

h2{
  color: #503226;
}

h3{
  color: #503226;
}

ul{
  list-style-type: none;
  display: inline;
}

nav{
  padding: 30px;
}

p{
  color: #967878;
}

/*-----Menu Styles-----*/

.menu{
  float: left;
}

.menu > a{
  text-decoration: none;
  color: #ff512f;
}

.menu > a:hover{
  color: #b1290e;
  border-bottom: 3px solid #fbc2c3;
  padding-bottom: 5px;
}

.submenu{
  float: right;
}

.submenu > a{
  color: #ff9495;
  font-size: 13px;
  text-decoration: none;
}

/*-----Section Styles-----*/

.feature{
  background: -webkit-linear-gradient(left, #de2673 0%,#eb3658 44%,#f44344 57%,#ff5030 100%);
  overflow: auto;
  padding: 30px 200px 75px 150px;
  border-top: 10px solid #e12a6d;
}

.shoe{
  float: left;
  width: 47%;
}

.shoe-details{
  float: right;
  width: 47%;
}

.details{
  padding: 40px 175px 65px 175px;
  overflow: auto;
}

.titles{
  border-bottom: 1px solid #fbc2c3;
  padding-bottom: 30px;
}

.titles a:hover{
  color: #b1290e;
}

.recommended{
  background-color: #feeced;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.products{
  background: -webkit-linear-gradient(left, #de2673 0%,#eb3658 44%,#f44344 57%,#ff5030 100%);
  overflow: auto;
  padding: 50px 150px 50px 150px;
}

/*-----Object Styles-----*/

.logo{
  float: left;
  padding-right: 15px;
}

.shoe1image {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.thebutton{
  border-radius: 8px;
  background-color: white;
  display: inline-block;
  border: none;
  color: #ff512f;
  text-align: center;
  font-size: 16px;
  padding: 10px 15px;
  width: 125px;
  margin-left: 20px;
  font-weight: bold;
  text-decoration: none;
}


.cart{
  background-color: none;
  border-radius: 8px;
  border: 5px solid white;
}

.funny{
  float: left;
}

.nimble{
  float: left;
  padding-left: 140px;
  padding-right: 140px;
}

.cute{
  float: right;
}
/*-----Text Styles-----*/

a{
  color: #9b3235;
  font-family: Source Code Pro, Arial, sans-serif;
}

.back{
  padding-bottom: 30px;
}

.back > a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.spring{
  color: #98293b;
  margin-top: -30px
}

.spring2{
  color: #98293b;
  margin-top: -20px;
  font-size: 13px;
}

.desc{
  color: white;
  border-top: 2px dashed #df4038;
  border-bottom: 2px dashed #df4038;
  padding-top: 25px;
  padding-bottom: 25px;
}

.price{
  color: white;
  font-size: 22px;
}

.price2{
  color: white;
  font-size: 19px;
}

.product-details{
  float: left;
  text-decoration: none;
  color: #ff512f;
}

.size-fit{
  float: left;
  text-decoration: none;
  color: #ff512f;
  padding-left: 20px;
}

.reviews{
  float: right;
  text-decoration: none;
  color: #ff9495;
  font-size: 13px;
}


/*-----Footer Styles-----*/

.footer-menu{
  float: left;
}

.footer-menu > a{
  font-size: 14px;
  text-decoration: none;
  color: #ff512f;
}

.footer-menu > a:hover{
  color: #b1290e;
  border-bottom: 3px solid #fbc2c3;
  padding-bottom: 5px;
}

.footer-submenu{
  float: right;
  color: #ac7878;
  font-size: 12px;
}

.footer-submenu > a{
  color: #ac7878;
  font-size: 12px;
}
