

body{
  font-family: Varela Round, Source Code Pro;
}

h1{
  font-size: 42px;
  color: white;
}

h2{
  font-size: 20px;
  color: #503226
}

h3{
  font-size: 24px;
  color: #503226
}

a{
  color: #9f412a;
}

nav{
  padding-left: 15px;
}


.menu{
  word-spacing: 20px;

}

.menu > a{
  color: #ff512f;
  text-decoration: none;
}

.menu > a:hover{
  border-bottom: 3px solid #fbc2c3;
  color: #b1290e;
  padding-bottom: 5px;
}

.help{
  word-spacing: 20px;
  font-size: 13px;
}

.help > a{
  color: #ff9495;
  text-decoration: none;
}

.feature{
  background-color: #ff512f;
  border-top: 12px solid #f34d2d;
}

.feature-container{
  padding: 20px 150px;
  margin: auto;
  width: 50%;

}

.content-container{
  padding: 20px 150px;
  margin: auto;
  width: 50%;
}

.recommended{
  background-color: #ff512f;
}

.recommended-container{
  padding: 20px 150px;
  margin: auto;
  width: 50%;
  padding: 75px 150px;
}

.shop-recommended{
  text-align: center;
  background-color: #ffeeeb;
  color: #503226;
  font-size: 25px;
  padding: 30px;
  margin-bottom: 0;
}

.back{
  text-decoration: none;
  color: white;
}

.qs-desc{
  border-top: 3px dashed #e6492a;
  border-bottom: 3px dashed #e6492a;
  padding: 30px;
  color: white;
}

.spring{
  color: #9f3729;
  margin-top: -25px;
}

.products{
  color: white;
  text-decoration: none;
}

.price{
  font-size: 22px;
  color: white;
  text-decoration: none;
}

.buy{
  border-radius: 8px;
  background-color: white;
  display: inline-block;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 175px;
  margin: 5px;
}

.buy > a{
  text-decoration: none;
  font-size: 20px;
  color: #ff5230;
  padding: 10px;
}

.details{
  font-size: 18px;
  border-bottom: 1px solid #fbc2c3;
  padding-bottom: 5px;
}

.details > a {
  color: #ff512f;
  text-decoration: none;

}

.details > a:hover{
  border-bottom: 3px solid #fbc2c3;
  color: #b1290e;
  padding-bottom: 5px;
}

footer{
  padding-top: 25px;
  padding-left: 15px;
  padding-bottom: 5px;
}

.footer-menu{
  word-spacing: 20px;

}

.footer-menu > a{
  color: #ff512f;
  text-decoration: none;
  font-size: 13px;
}

.footer-menu > a:hover{
  border-bottom: 3px solid #fbc2c3;
  color: #b1290e;
  padding-bottom: 5px;
}

.copyright{
  font-size: 12px;
  color: #997878;
}

.copyright > a{
  text-decoration: : none;
  color: #997878;
}
